{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-center>Story_page</h1>
    <div class="container">
        <h1 class="text-center mt-5 mb-5">
            <h1 class="text-center">stories_title</h1>
        </h1>
    </div>
    <div class="text-center mb-5 mt-5">
        {% if stories %}
            <div class="row d-flex justify-content-center p-3">
                {% for story in stories %}
                {% include 'components/story_card.html' with story=story %}
            {% endfor %}
            </div>
        {% endif %}

            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
  <ul class="pagination">
        {% if stories.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ stories.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for story in stories.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ story }}">{{ story }}</a></li>
        {% endfor %}
        {% if stories.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ stories.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ stories.paginator.num_pages }}">Last</a></li>
        {% endif %}
  </ul>
</nav>
            </div>

        <div class="text-center mt-5">
            <a href="{% url 'add_story' %}" class="btn btn-primary">Go to add story!</a>
        </div>
    </div>
{% endblock content %}

