<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Page</title>
</head>
<body>
    <ul>
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'vision' %}">vision</a>
        <a href="{% url 'contact' %}">contact</a>
        <a href="{% url 'products' %}">products</a>
        <a href="{% url 'mini-products' %}">mini products</a>
    </ul>
    <h1>Welcome to vision page</h1>
</body>
</html>
