
<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{todo.title}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{category.title}}</h6>
      <p class="card-text">{{todo.content}}</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Created date : {{todo.created_at}}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">Updated date : {{todo.updated_at}}</h6>
      <a href="{% url 'todo_home' %}" class="card-link">Listeye dön</a>
    </div>
  </div>
