{% extends 'core/base.html' %}
{% block content %}
    <div class="container d-flex flex-column align-items-center text-center text-white">
      <h1 class="text-center mb-5 text-white display-3 w-100">Visitor</h1>
      <div class="w-100 d-flex justify-content-center mb-3">
        <a href="{% url 'visitor-register' %}" class="btn btn-secondary">Click to register a visitor</a>
      </div>
      <div style="width: 100%;" data-bs-theme="dark">
        {% if items %}
          {% include 'components/list_group.html' with items=items %}
        {% endif %}
      </div>
    </div>
{% endblock content %}
