<div class="card d-flex align-items-center border border-0">
    <img src="https://picsum.photos/id/{{developer.pk}}/1200/300" class="card-img-top rounded-pill" style="width: 33rem;" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{developer.title}}</h5>
      <p class="card-text">{{lorem_ipsum}}</p>
      {% for item in developer.tag.all %}
      <span class="badge rounded-pill text-bg-info"><a href="{% url 'tag_views' tag_slug=item.slug %}" class="badge rounded-pill text-bg-info text-decoration-none">{{item.title}}</a></span>
      {% endfor %}
    </div>
    <a href="../" class="btn btn-primary">Back</a>
  </div>


  