<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Proje_001</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
          <a class="nav-link" href="{% url 'vision' %}">Vizyonumuz</a>
          <a class="nav-link" href="{% url 'contact' %}">İletişim</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="nav-link" href="{% url 'pro_views' %}">General Products</a></li>
                <a class="nav-link" href="{% url 'pro_views' pro_slug='web-development' %}">Web Products</a></li>
            </ul>
          </li>
          <a class="nav-link" href="{% url 'dev_views' %}">X-Developers</a>
        </div>
      </div>
      <a class="nav-link me-3" href="admin" target="_blank">Admin</a>
      <a class="nav-link" href="#">{% if user %}Logout{%else%}Login{% endif %}</a>
    </div>
  </nav>

