<ul class="list-group">
    <h1>İçeridekiler</h1>
    {% for item in todos %}
    {% if item.status %}
    <li class="list-group-item d-flex justify-content-around"><a href="{% url 'todo_detail' id=item.pk %}">{{item.first_name}}  {{item.last_name}} - {{item.car_information}} - {{item.from_company}} - {{item.to_company}} - {{item.to_visit}} - {{item.enter_date}} - {{item.enter_clock}}</a><span class="text-muted">{% if item.status %}İçeride{% else %}Çıkış yaptı.{% endif %}</span></li>
    {% endif %}
    {% endfor %}
  </ul>

  <hr>

  <ul class="list-group">
    <h2>Çıkış Yapanlar</h2>
    {% for item in todos %}
    {% if not item.status %}
    <li class="list-group-item d-flex justify-content-around"><a href="{% url 'todo_detail' id=item.pk %}">{{item.first_name}}  {{item.last_name}} - {{item.car_information}} - {{item.from_company}} - {{item.to_company}} - {{item.to_visit}} - {{item.enter_date}} - {{item.enter_clock}}</a><span class="text-muted">{% if item.status %}İçeride{% else %}Çıkış yaptı.{% endif %}</span></li>
    {% endif %}
    {% endfor %}
  </ul>
