{% extends 'core/base.html' %}

{% block content %}
<form method="post" action="{% url 'register' %}" class="text-center mt-5">
    {% csrf_token %}
    
    <div class="col-auto">
      <label for="name_input">Username</label><br>
      <input type="text" name="username" id="name_input">
    </div>
    <div class="col-auto">
      <label for="email_input">E-Mail</label><br>
      <input type="email" name="email" id="email_input">
    </div>
    <div class="col-auto">
      <label for="confirm_email_input">Confirm E-Mail</label><br>
      <input type="email" name="confirm_email" id="confirm_email_input">
    </div>

    <div class="col-auto">
      <label for="pass_input">Password</label><br>
      <input type="password" name="password" id="pass_input">
    </div>
    <div class="col-auto">
      <label for="confirm_pass_input">Confirm Password</label><br>
      <input type="password" name="confirm_password" id="confirm_pass_input">
    </div>

    <button type="submit" class="btn btn-info mt-1">Kaydet</button>

  </form>
{% endblock content %}
