<!-- footer start -->
<footer class="bg-dark text-light">
    <div class="card bg-dark text-light">
        <div class="card-body d-flex align-items-center justify-content-around m-0 p-0">
            <img src="https://picsum.photos/id/870/50/50?grayscale&blur=2
            " class="d-inline rounded-circle" alt="">
          <p class="d-inline p-0 m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo vitae incidunt non dolor!</p>
        </div>
      </div>
  </footer>
 <!-- footer end -->