<!-- Row start -->
<div class="row row-cols-4 justify-content-around">
    <!-- Card-1 start -->
    <div class="card m-3" style="width: 13rem;">
        <img src="https://picsum.photos/id/7/200/300
        " class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <!-- Card-1 end -->
    <!-- Card-2 Start -->
    <div class="card m-3" style="width: 13rem;">
        <img src="https://picsum.photos/id/23/200/300
        " class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <!-- Card-2 end -->
    <!-- Card-3 start -->
    <div class="card m-3" style="width: 13rem;">
        <img src="https://picsum.photos/id/213/200/300
        " class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <!-- Card-3 end -->
    <!-- Card-4 start -->
    <div class="card m-3" style="width: 13rem;">
        <img src="https://picsum.photos/id/212/200/300
        " class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <!-- Card-4 end -->
</div>
<!-- Row end -->