<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ todo.title }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{todo.is_active}}</h6>
    <p class="card-text">{{todo.content}}</p>
    <ul>
      {% for tag in todo.tag.all %}
      <span class="badge rounded-pill text-bg-info"><a href="{% url 'tag_views' tag_slug=tag.slug %}" class="text-decoration-none text-light" >{{tag.title}}</a></span>
      {% endfor %}
    </ul>
    <a href="/" class="card-link">Listeye dön</a>
  </div>
</div>

