<nav class="navbar bg-body-tertiary">
    <div class="container justify-content-start">
      <a class="navbar-brand" href="/">
        <img src="https://picsum.photos/id/47/200/300

        " alt="Bootstrap" width="30" height="24" class="rounded-circle"> <span>Django</span>
      </a>
      <a class="navbar-brand" href="contact">
        <img src="https://picsum.photos/id/37/200/300

        " alt="Bootstrap" width="30" height="24" class="rounded-circle"> <span>Contact</span>
      </a>
    </div>
  </nav>
