{% extends 'core/base.html' %}

 {% block content %}
 {{page_detail|safe}}
 {% if slug %}
 {% include 'components/carousel.html' %}
 {% include 'components/accordion.html' %}
 {% include 'components/card.html' with page_title=page_title|upper wth=1200 mt="mt-3" %}
 {% endif %}
 {% if page_title == "contact" %}
 {% include 'components/form-control.html' %}
 {% elif page_title == "vision" %}
 {% include 'components/text.html' %}
 {% include 'components/card.html' with wth=1200 page_title=page_title %}
 {% endif %}
 {% endblock content %}
