{% extends 'core/base.html' %}

  {% block content %}
<div class="container">
    <h1 class="text-primary">{{ page_title }}</h1>
  <hr>
  <div class="row d-flex flex-column align-items-center">
    {% if posts %}
    {% for post in posts %}
      <div class="w-50">
        <small>title : </small>{{ post.title }} <br>
        <small>content : </small>{{ post.content }} <br>
        <small>image : </small> <div>
          {% if post.post_img %}
          <div class="text-center my-3">
            <img src="{{ post.post_img.url }}" class="img-thumbnail" style='height:50vh'  alt="">
          </div>
          {% endif %}
          <div class="d-flex flex-row">
            <a href="{% url 'edit_post' id=post.id %}" class='w-100 btn btn-primary'>Edit</a>
            <a href="{% url 'delete_post' id=post.id %}" class="w-100 btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
  <hr class="m-3">
    {% endfor %}
    {% endif %}
  </div>
</div>
  {% endblock content %}
