{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4" {% if page.page_bg_img %}
         style="background-image: url('{{ page.page_bg_img.url }}'); 
                background-size: cover; 
                background-position: center; 
                background-repeat: no-repeat;"
     {% endif %}>
    <h2>Add Page</h2>
    <form method="post" enctype="multipart/form-data">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {{ page_form|crispy }}
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>
{% endblock content %}
