{% extends "core/base.html" %}

{% block content %}
  <div class="container my-4 d-flex flex-column justify-content-center align-items-center">
    <h2>{{ page_title }}</h2>
    {% if fav_posts %}
      <div class="row d-flex justify-content-center">
        {% for fav_post in fav_posts %}
          <div class="card m-3 w-25">
            <div class="card-body">
              <h5 class="card-title">{{ fav_post.post.title }}</h5>
              <p class="card-text"><small class="text-body-secondary">{{ fav_post.post.created_at }}</small></p>
            </div>
            <img src="{{ fav_post.post.post_img.url }}" class="card-img-bottom" alt="...">
            <form action="{% url 'weblog:add-fav' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="slug" value="{{ fav_post.post.slug }}">
              <div class="d-flex flex-row mt-3">
                  <button class="btn btn-danger mb-1">❤️</button>
                  <a href="{% url 'weblog:edit-post' post_slug=fav_post.post.slug %}" class="btn btn-secondary ms-1 mb-1">Edit</a>
              </div>
            </form>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %}

