{% extends "core/base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>{{ page_title }}</h1>
      {% if g_posts %}
    <div id="carouselExampleIndicators" class="carousel slide mt-3">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        {% for g_post in g_posts|slice:"3" %}
        <div class="card carousel-item {%if forloop.first%}active{% else %}{%endif%}">
          <img src="{{ g_post.post_img.url }}" class="card-img d-block w-100" style="width:1200px;height:73vh;" alt="...">
          <div class="card-img-overlay">
            <h1 class="card-title text-info bg-secondary w-50 opacity-75 rounded text-center">{{ g_post.user.first_name }} {{ g_post.user.last_name }}</h1>
            <h2 class="card-title text-light bg-secondary w-50 opacity-75 rounded text-center">{{ g_post.title }}</h2>
            <p class="card-title text-light bg-secondary w-50 opacity-75 rounded text-center p-1">{{ g_post.user.first_name }} {{ g_post.content|truncatechars:100 }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  {% endif %}

  {% include 'components/home-post-list.html' with g_posts=g_posts %}

{% endblock content %}



