

<nav aria-label="..." class="mt-1">
    <ul class="pagination justify-content-center">
        {% if items.has_previous %}
        <li><a href="?page=1" class="btn btn-info me-1">First</a></li>
        <li><a href="?page={{items.previous_page_number}}" class="btn btn-info me-1">Prev</a></li>
        {% endif %}
      {% for item in items.paginator.page_range %}
      <li class="page-item"><a class="page-link {% if item == items.number %}active{% endif %}" href="?page={{item}}">{{item}}</a></li>
      {% endfor %}
      {% if items.has_next %}
        <li><a href="?page={{items.next_page_number}}" class="btn btn-info ms-1">Next</a></li>
        <li><a href="?page={{items.paginator.num_pages}}" class="btn btn-info ms-1">Last</a></li>
        {% endif %}
    </ul>
  </nav>

