body{
    margin: 0;
}

.list-unstyled{
    list-style: none;
    float: left;
}

.navBar{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding:0;
}

ul>li{
    display: inline;
    padding: 13px;
}

ul>li:hover{
    color: yellow;
    background-color: blueviolet;
    cursor: pointer;
    border-radius: 15px;
}

.container{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.sec1{
    width: 100px;
    margin-left: 50%;
    margin-bottom: 33px;
    
}

.pic1{
    border-radius: 15px;
}

.pic2{
    border-radius: 100%;
}

.lorem3{
    display: inline;
}

.right{
    float: right;
}
