{% extends "core/base.html" %}

{% block content %}
  <div class="container my-4 d-flex flex-column justify-content-center align-items-center">
    <h2>{{ page_title }}</h2>
    {% if fav_posts %}
      <div class="row d-flex justify-content-center">
        {% for fav_post in fav_posts %}
          <div class="card m-3 w-25">
            <div class="card-body">
              <h5 class="card-title">{{ fav_post.title }}</h5>
              <p class="card-text"><small class="text-body-secondary">{{ fav_post.created_at }}</small></p>
            </div>
            <img src="{{ fav_post.post_img.url }}" class="card-img-bottom" alt="...">
            <form action="{% url 'weblog:fav-update' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="slug" value="{{ fav_post.slug }}">
              <div class="d-flex flex-row">
                <button type="submit" class="btn btn-danger d-block p-2 border rounded">Fav ❤️</button>
                  {% if request.user.email == fav_post.user.email %}
                    <a type="submit" href="{% url 'weblog:fav-edit' fav_slug=fav_post.slug %}" class="btn btn-secondary d-block p-2 border rounded">Edit</a>
                  {% endif %}
              </div>
            </form>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %}

