{% extends 'core/base.html' %}
  {% block content %}
    <div class="d-flex flex-row justify-content-center container mt-4">
      <div class="card w-75">
        <img src="{{ post.post_img.url }}" class="card-img-top" alt="{{ post.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <div class="d-flex flex-row">
              <a href="{% url 'weblog:home' %}" class="btn btn-primary">Get Posts</a>
              {% if request.user.email == post.user.email %}
                <a type="submit" href="{% url 'weblog:fav-edit' fav_slug=post.slug %}" class="btn btn-secondary d-block p-2 border rounded">Edit</a>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  {% endblock content %}
  