{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.35.3/tagify.min.css">

<div class="container">
  <h1 class="text-info">Add Post Page</h1>
  <hr>
  <form action="" method="POST" enctype="multipart/form-data">
    {{ post_form.media }}
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ post_form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.35.3/tagify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.35.3/tagify.polyfills.min.js"></script>

<script>
  
  var input = document.querySelector('input[name=addTag]');
  new Tagify(input)
  
</script>


{% endblock content %}


