{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-5">
    {{ page_title }}
  </h1>
  <form action="{% url 'add_page' %}" method="post">
    {% csrf_token %}
    <form>
      <div class="mb-3">
        <label for="titleID" class="form-label">Title</label> <br>
        {{ Add_Form.title }}
      </div>
      <div class="mb-3">
        <label for="tagID" class="form-label">Tag</label> <br>
        {{ Add_Form.tag }}
      </div>
      <div class="mb-3 form-check">
        <label class="form-check-label" for="isActive">is_active?</label>
        {{ Add_Form.is_active }}
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </form>
</div>
{% endblock content %}

