{% extends 'core/base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-info">Favorites</h1>
    <hr class="m-3">
      <div class="row d-flex flex-row align-items-center">
        {% for post in favs %}
          {% if post.favs %}
            <div>
              <div><small>
                {{ post.user }}
              </small>
              <h3>
                {{ post.title }}
              </h3>
              <p>
                {{ post.content|safe }}
              </p></div>
                <a href="{% url 'edit_item' id=post.id %}" class="btn btn-secondary" type="submit">Edit</a>
                <a href="{% url 'delete_item' id=post.id %}" class="btn btn-danger" type="submit">Delete</a>
              <a href="{% url 'favs' id=post.id %}" class="btn {% if post.favs == True %}btn-danger{% else %}btn-primary{% endif %}" type="submit">Fav ♥</a>
            </div>
            <hr class="m-3">
          {% endif %}
        {% endfor %}
      </div>
</div>
{% endblock content %}
