
    <div class="container mt-4 mb-4 opacity-50" data-bs-theme="dark">
        {% for g_post in g_posts %}
        <ul class="list-group list-group-flush">
            <div class="d-flex flex-row">
                <li class="list-group-item rounded"><a href="{% url 'weblog:post-detail' id=g_post.id %}" class="text-decoration-none">{{ g_post.title }} | <span class="ms-1">{{ g_post.user.first_name }} {{ g_post.user.last_name }}</span> <br> <span class="ms-1">{{ g_post.content }}</span></a>

                    <button for-click="{{ g_post.slug }}" class="btn btn-danger d-block m-3 p-2 border rounded">Fav ❤️</button>
                
                </li>
                
            </div>
            <hr>
        </ul>
        {% endfor %}
    </div>


<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

<script>
    let fav_posts = document.querySelectorAll ("[for-click]")
    fav_posts.forEach(item => item.addEventListener("click",event => {
        event.preventDefault()
        let slug = event.target.getAttribute ("for-click")
        let form = new FormData()
        form.append("slug",slug)
        form.append("csrfmiddlewaretoken","{{ csrf_token }}")
        axios.post("/fav-update/",form)
    }))
</script>


