<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MyWeblog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          
          {% if pages %}
            {% for page in pages %}
              <a class="nav-link" href="/{{ page.page_slug }}/">{{ page.title }}</a>
            {% endfor %}
          {% endif %}
      </div>
      <div class="btn btn-secondary ms-auto"><a href="{% url 'weblog:login' %}" class="text-decoration-none">Login</a></div>
      <div class="btn btn-secondary text-info ms-1">{% if online_user.is_online == True %}<small>{{ online_user.first_name }}</small> <small>{{ online_user.last_name }}</small>{% else %}<small>Login</small>{% endif %}</div>
        <a class="btn btn-secondary text-info ms-1" href="/admin/" target="_blank">Admin Panel</a>
    </div>
  </div>
</nav>

