<div class="card border border-0">
    <div class="card-body">
      <h5 class="card-title">{{ todo.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{% if todo.is_active %}Aktif{% else %}Pasif{% endif %}</h6>
      <p class="card-text">{{todo.content}}</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam hic autem ut laborum, harum temporibus voluptatem labore! Officia voluptate cupiditate omnis architecto, eos inventore, iusto itaque totam odio pariatur reiciendis?</p>
      
      <ul>
        {% for tag in todo.tag.all %}
        <span class="badge rounded-pill text-bg-info"><a href="{{tag.get_absolute_url}}" class="badge rounded-pill text-bg-info text-decoration-none"><span class="m-1">{{tag.title}}</span><img src="https://picsum.photos/id/{{tag.pk}}/50/50" class="img-thumbnail rounded-pill" alt="..."></a>
        </span>
        {% endfor %}
      </ul>
      <a href="/" class="card-link btn btn-dark">Listeye dön</a>
    </div>
  </div>

