
    <div class="container mt-4 mb-4 opacity-50" data-bs-theme="dark">
        <ul class="list-group list-group-flush">
        {% for g_post in g_posts %}
            <div class="d-flex flex-row">
                <li class="list-group-item rounded"><a href="{% url 'weblog:post-detail' id=g_post.id %}" class="text-decoration-none">{{ g_post.title }} | <span class="ms-1">{{ g_post.user.first_name }} {{ g_post.user.last_name }}</span> <br> <span class="ms-1">{{ g_post.content }}</span></a>
                </li>
            </div>
                <div class="d-flex flex-row mt-3">
                    <button class="btn btn-danger" btn-slug="{{ g_post.slug }}">❤️</button>
                    <a href="{% url 'weblog:edit-post' post_slug=g_post.slug %}" class="btn btn-secondary ms-1">Edit</a>
                </div>
            <hr>
        {% endfor %}
        </ul>
    </div>


<script>
    let fav_posts = document.querySelectorAll("[btn-slug]")
    fav_posts.forEach (item => item.addEventListener("click", event => {
        event.preventDefault ();
        let slug = event.target.getAttribute ("btn-slug");
        let form = new FormData ();
        form.append ("slug",slug)
        form.append ("csrfmiddlewaretoken","{{ csrf_token }}")
        console.log(slug)
        axios.post("add-fav/",form)
    }))
</script>

<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

