<nav class="navbar lead navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="nav-link btn btn-outline-secondary text-info ms-3 me-3 px-3 fs-3" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-center w-100">
        <a class="nav-link btn btn-outline-secondary me-3 ms-3" href="{% url 'visitor' %}">Visitor</a>
        <a class="nav-link btn btn-outline-secondary ms-3 me-3" href="{% url 'subcontractor' %}">Subcontractor</a>
      </div>
    <a class="nav-link btn btn-outline-secondary text-danger ms-3 me-3 text-nowrap px-3 my-0" href="/admin/" target="_blank">Admin Panel</a>
    </div>
  </div>
</nav>
