<div class="row mx-5 my-3 w-75 ms-auto" data-bs-theme="dark">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card text-center w-75" onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
      <a href="{% url 'visitor' %}" class="card-body text-decoration-none" onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
        <h5 class="card-title">Visitor</h5>
        <p class="card-text">Click here for visitor registration</p>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center w-75" onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
      <a href="{% url 'subcontractor' %}" class="card-body text-decoration-none" onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
        <h5 class="card-title">Subcontractor</h5>
        <p class="card-text">Click here for subcontractor registration</p>
      </a>
    </div>
  </div>
</div>
