{% extends 'core/base.html' %}

{% block content %}
<h1>{{page_title}}</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Ana Sayfa</a></li>
      <li class="breadcrumb-item"><a href="{{todo.category.get_absolute_url}}">{{todo.category.title}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{todo.title}}</li>
    </ol>
  </nav>
{% if page_title == "User Detail" %}
    {% include 'components/card.html' with todo=todo %}
    {% else %}
    {% include 'components/category_card.html' with cat_todo=cat_todo %}
    {% endif %}
{% endblock content %}

