<div class="row">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{todo.title}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{% if todo.is_active %}<span class="text-info">Active</span>{% else %}<span class="text-danger">Passive</span>{% endif %}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{todo.category.title}}</h6>
      <p class="card-text">{{todo.content}}</p>
      <a href="{% url 'home' %}" class="card-link btn btn-info">Back to list</a>
    </div>
  </div>
</div>

  