<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{todo.title}}</h5>
      <h6 class="card-title text-danger">Kategori - {{todo.category.title}}</h6>
      <h6 class="card-title text-danger">Slug - {{todo.category.slug}}</h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">{% if todo.is_active %}Aktif{% else %}Pasif{% endif %}</h6>
      <p class="card-text">{{todo.content}}</p>
      <small>Oluşturulma tarihi : {{todo.created_at|date:"d/m/y h:s"}}</small><br>
      <small>Güncellenme tarihi : {{todo.updated_at|date:"d/m/y h:s"}}</small><br>
      <a href="{% url 'todo_home' %}" class="btn btn-info">Listeye dön</a>
    </div>
  </div>

