<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-info" href="{% url 'home' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          <a class="nav-link {% if request.path == '/vision' %}active{% endif %}" href="{% url 'vision' %}">Vision</a>
          <a class="nav-link {% if request.path == '/contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
          <a href="slug" class="nav-link" aria-disabled="true">Url Slug</a>
          <a href="url-yok" class="nav-link" aria-disabled="true">Olmayan url</a>
        </div>
      </div>
    </div>
  </nav>
