

  <div class="card text-bg-dark">
    <img src="https://picsum.photos/id/{{todo.pk}}/1200/300" class="card-img opacity-25" alt="picsum_photo">
    <div class="card-img-overlay">
      <div class="card bg-transparent text-light border border-0">
        <div class="card-body">
          <h5 class="card-title">{{ todo.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{% if todo.is_active %}<span class="text-info">Aktif</span>{% else %}<span class="text-danger">Pasif</span>{% endif %}</h6>
          <p class="card-text">{{todo.content}}</p>
          <a href="/" class="card-link">Listeye dön</a>
        </div>
      </div>
  </div>