{% extends 'core/base.html' %}

{% block content %}
{% include 'components/navbar.html' %}
<div class="container text-center mt-3">
    <h1>{{page_title}}</h1>
    <div class="row d-flex justify-content-center p-5">
        {% for item in items %}
        <div style="width: auto; text-align: center;">
        {% include 'components/card1.html' with item=item %}
        <a href="{% url 'cat_views' cat_slug=item.slug %}" class="btn btn-primary w-0">Go to {{item.title}}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}


