<!-- <form action="#" method="post" class="m-3">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    {{ post_form.username }}
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    {{ post_form.content }}
  </div>
  <div class="mb-3">
    <label for="post_img" class="form-label">Image</label>
    {{ post_form.post_img }}
  </div>
  <div class="mb-3">
    <label for="is_active" class="form-label">Is_active?</label>
    {{ post_form.is_active }}
  </div>
  <button type="submit" class="btn btn-info">Kaydet</button>
</form>

 -->
{% load crispy_forms_tags %}
 <form action="#" method="post" class="m-3">
   {% csrf_token %}
   {{ post_form|crispy }}
   <button type="submit" class="btn btn-info">Kaydet</button>
 </form>

