<div class="container-fluid d-flex">
    <form action="{% url 'todo_mng' %}" method="post" class="w-100 d-flex">
        {% csrf_token %}
            <input class="form-control mt-3" name="todo_input" type="text" placeholder="Write anythings !" aria-label="readonly input example">
            <button type="submit" class="btn btn-info ms-1 mt-3">Ekle</button>
        </form>
        <form action="{% url 'delete-item' %}" method="get" class="flex-shrink-2">
            <input type="hidden" name="delete-item-all" value="delete-item-all">
            <button type="submit" class="btn btn-info ms-1 mt-3">Tümünü sil</button>
        </form>
</div>



