
{% extends 'core/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column">
  <h1 class="text-center">Add Blog</h1>
  <form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="title">Title</label> <br>
      {{ form.title }}
    </div>
    <div>
      <label for="content">Content</label> <br>
      {{ form.content }}
    </div>
    <div class="mb-3">
      <label for="img">Image</label> <br>
      {{ form.img }}
    </div>
    <button type="submit" class="btn btn-primary">Add Post</button>
    <a href="{% url 'blog_home' %}" class="btn btn-secondary">Go back to home</a>
  </form>
</div>
{% endblock content %}
