{% extends "core/base.html" %}

{% block content %}
  <div class="container my-4 d-flex flex-column justify-content-center align-items-center">
    <h2>{{ page_title }}</h2>
    {% if fav_posts %}
      {% for fav_post in fav_posts %}
        <div class="card my-3 w-75">
          <div class="card-body">
            <h5 class="card-title">{{ fav_post.title }}</h5>
            <p class="card-text">{{ fav_post.content }}</p>
            <p class="card-text"><small class="text-body-secondary">{{ fav_post.created_at }}</small></p>
          </div>
          <img src="{{ fav_post.post_img.url }}" class="card-img-bottom" alt="...">
          <form action="{% url 'weblog:fav-update' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="slug" value="{{ fav_post.slug }}">
            <button type="submit" class="btn btn-danger d-block m-3 p-2 border rounded">Fav ❤️</button>
          </form>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}

