{% if not page_title == 'X-Developer Details' %}
<div class="card m-3 border border-0" style="width: 18rem;">
  <img src="https://picsum.photos/id/{{item.pk}}/200/300" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
{% else %}
<div class="card me-3 border border-0">
  <img src="https://picsum.photos/id/{{item.pk}}17/1200/300" class="card-img-top rounded-pill" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    {% for tag in item.tag.all %}
    <span class="badge rounded-pill text-bg-info"><a href="{% url 'tag_views' cat_slug=tag.category.slug id=tag.pk tag_slug=tag.slug %}" class="text-decoration-none badge rounded-pill text-bg-info">{{tag.title}}</a></span>
    {% endfor %}
    
  </div>
</div>
{% endif %}


