<div class="card text-center border border-0" style="width: 33rem;">
    <img src="https://picsum.photos/id/{{item.pk}}/700/300
    " class="card-img-top rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <hr>
      {% for tag in item.tag.all %}
      <span class="badge rounded-pill text-bg-info"><a class="text-decoration-none badge rounded-pill text-bg-info" href="{% url 'tag_views' cat_slug=tag.category.slug tag_slug=tag.slug %}">{{tag.title}}</a></span>
      {% endfor %}
    </div>
  </div>

