<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_views' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              {% for category in categories %}
              <li><a class="dropdown-item" href="{% url 'cat_views' cat_slug=category.slug %}">{{category.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app2:home' %}">App2</a>
          </li>
        </ul>
      </div>
      <a href="/admin/" target="_blank" class="btn btn-secondary">Admin Panel</a>
      <a href="{% url 'logout_views' %}" class="btn btn-danger ms-1">Logout</a>
    </div>
  </nav>

