<nav class="navbar navbar-expand-lg bg-body-tertiary text-light" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">H-Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if request.user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="{% url 'blog_views' %}">Blog</a>
          {% endif %}
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
    {% if request.user.is_authenticated %}
      <a class="nav-link me-3" style="white-space: nowrap;" href="{% url 'logout_views' %}">logout</a>
    {% else %}
      <a class="nav-link me-3" style="white-space: nowrap;" href="{% url 'login_views' %}">login</a>
    {% endif %}
    <a class="nav-link me-3" style="white-space: nowrap;" href="/admin/" target="_blank">Admin Panel</a>
  </nav>

