{% extends "core/base.html" %}

{% block content %}
  <div class="container mt-4 d-flex flex-column align-items-center">
    <h2>{{ page_title }}</h2>
    {% for fav_post in fav_posts %}
      <div class="card text-bg-dark w-50 m-1">
        <img src="{{ fav_post.post.post_img.url }}" class="card-img" alt="fav_post.post.title">
        <div class="card-img-overlay">
          <h5 class="card-title"><span class="text-info">{{ fav_post.user.first_name }}</span> | {{ fav_post.post.title }}</h5>
          <p class="card-text">{{ fav_post.post.content }}</p>
          <p class="card-text"><small>{{ fav_post.created_at }}</small></p>
        </div>
      </div>
    <button data-slug="{{ fav_post.post.slug }}" class="btn btn-primary ms-3">Fav</button>
    {% endfor %}
  </div>
{% endblock content %}
{% block script %}
        {% include 'components/fav-update.html' %}
{% endblock script %}

