
    <div class="container mt-4 mb-4 opacity-50" data-bs-theme="dark">
        {% for g_post in g_posts %}
        <ul class="list-group list-group-flush">
            <div class="d-flex flex-row">
                <li class="list-group-item rounded"><a href="{% url 'weblog:post-detail' id=g_post.id %}" class="text-decoration-none">{{ g_post.title }} | <span class="ms-1">{{ g_post.user.first_name }} {{ g_post.user.last_name }}</span> <br> <span class="ms-1">{{ g_post.content }}</span></a><button data-slug="{{ g_post.slug }}" class="btn btn-primary ms-3">Fav</button></li>
                
            </div>
            <hr>
        </ul>
        {% endfor %}
    </div>


{% block script %}
  {% include 'pages/fav-update.html' %}
{% endblock script %}

